body {
    display: flex;
    justify-content: center;
    font-family: "Pixelify Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



#tabuleiro {
  position: relative;
  width: 600px;
}

#texto {
  display: flex;
  flex-direction: column;
  height: 600px;
  textarea {
    height: 90%;
  }
  button {
    height: 10%;
  }
}

.quadro {
  border: 1px solid black;
  position: absolute;
}

.robo {
  font-size: 72px;
  text-align: center;
  align-content: center;
}

.pasto {
  background-color: green;
}